
.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin:auto;
  text-align: center;
}


.authentication h2, p {
  color: white;
}

.authentication form {
  margin-bottom: 1rem;

}