.exercise-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
  display:inline-block;


}

.exercise-item a {
  display:inline-block;
  align-items:center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background:rgb(2, 20, 97, 0.5);
}

.exercise-item a:hover,
.exercise-item a:active {
  background:  rgba(255, 123, 0, 0.5);
 
}


.exercise-item__Update a:hover,
.exercise-item__Update a:active{
  background:  rgba(255, 123, 0, 0.5);
}

.exercise-item__content {
  padding: 0;
}


.exercise-item__Update {
  background-color: rgb(2, 20, 97, 0.5);

}


.exercise-item__image img {
  
  max-width: 50%;
  max-height: 50%;
  object-fit:contain;
 
}

.exercise-item__info h2,
.exercise-item__Update h2 {
  font-size: 1.5rem;
  margin: 0 0 0 0;
  font-weight: bold;
  color: rgba(255, 255, 255);
}

.exercise-item__info span{
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color:  #ffffff;
}


.exercise-item__info h4, h3{
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  font-weight: bold;
  color:  #ffffff;
}

.exercise-item:hover h2,
.exercise-item:active h2,
.exercise-item:hover h3,
.exercise-item:active h3,
.exercise-item:hover h4,
.exercise-item:active h4
.exercise-item:hover span
.exercise-item:active span {
  color:black;
}

.exercise-item__info h3 {
  margin: 0;
}