.card {
  position: relative;
  margin: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background: rgba(44, 58, 255, 0.444);
}

 .workout-item__content {
  position:relative;
  margin: 5px;
  margin-right: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background: rgba(156, 156, 163, 0.444);
  display: flex;
  justify-content: center;
  width:max-content;
  min-height: 20rem;


}


.workout-item__content a {
  text-decoration: none;
}

.workout-item__content h4 {
  color: blue;
  background-color: rgba(255, 255, 255, 0.829);
}

.workout-item__content h2 {
  color: rgb(251, 251, 255);
  background-color: rgba(0, 0, 0, 0.404);
}

.workout-item__content p {
  font-weight: 800;
  color: rgb(3, 3, 44);
}

.user-item__content {
  display: inline-block;
  padding: 0;
  justify-content: center;
  margin-left: 40%;
  min-width: 80%;
  justify-items: center;


}

.exercise-item__content{
  display:inline-block;
  padding: 0;
  justify-content: center;
  margin-left: 40%;
  min-width: 100%;
  justify-items: center;

}

.authentication p{
  color: rgb(255, 255, 255);
  font-weight: 800;
}

.home-description{
  position:relative;
  justify-content: center;
  justify-self: center;
  margin-top: 6%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgba(255, 123, 0, 0.5);
  margin-bottom: 100px;
}

.home-description a {
  font-size: 23px;
  font-weight:bold;
  margin-bottom:200px;
 

}