.card {
  position: relative;
  margin: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
}

.workout-item__content {
  position: relative;
  margin: 5px;
  margin-right: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  background-color: rgba(18, 14, 14, 0.706);
  display: flex;
  justify-content: center;
  width: max-content;
  min-height: 20rem;
}

.workout-item__content a {
  text-decoration: none;
}

.workout-item__content h4 {
  margin-top: 5rem;
  color: rgb(255, 255, 255);

}

.workout-item__content h2 {
  color: rgb(251, 251, 255);
 
}

.workout-item__content p {
  font-weight: 800;
 color:white;
}

.user-item__content {
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(18, 14, 14, 0.706);
  display: flex;
}

.user-item__image {
  flex: 1;
}

.user-item__image img {
  max-width: 100%;
  max-height: 100%;
border-radius: 10%;
}

.user-item__about {
  flex: 1;

}

.authentication {
  background-color: rgba(0, 44, 241, 0.5);
  margin-left: 35%;
}

.no-calories {
  background-color: rgba(0, 44, 241, 0.5);
}

.no-workouts {
  background-color: rgba(0, 44, 241, 0.5);
}

.exercise-item__content {
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgba(18, 14, 14, 0.706);
  display: flex;
}

.exercise-item__image {
  flex: 1;
}

.exercise-item__image img {
  max-width: 100%;
  max-height: 100%;
border-radius: 10%;
}

.exercise-item__about {
  flex: 1;

}

.exercise-item__Update {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display:flex;
  flex-direction: row;
  margin-left: 35%;
}

.calories-item__Update {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display:flex;
  flex-direction: row;
  margin-left: 40%;
}


.adding-workout {
  background-color:rgba(18, 14, 14, 0.706);
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.adding-calories {
  background-color:rgba(18, 14, 14, 0.706);
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 5%;
  margin-top: 5%;

}

.authentication p {
  color: rgb(255, 255, 255);
  font-weight: 800;
}

.home-description {
  position: relative;
  justify-content: center;
  justify-self: center;
  margin-top: 6%;
  margin-left: 20%;
  margin-right: 20%;
  background-color:rgba(18, 14, 14, 0.806);
  margin-bottom: 100px;
  text-align: center;
}

.home-description a {
  font-size: 23px;
  font-weight: 200;
  margin-bottom: 200px;
  color: rgb(255, 255, 255);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.calories-item__content {
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgba(18, 14, 14, 0.706);
  display: flex;
  flex-direction: column;
}

.calories-item__content h4 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:20px;
  color:white;
  text-align: center;
}

.calories-item__content h2 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:35px;
  font-weight: 900;
  color:white;
  text-align: center;
}

.calories-item__content span {
  font-size:25px;
 
}
