.user-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
  display:inline-block;


}

.user-item a {
  display:inline-block;
  align-items:center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: rgb(245, 222, 208);
}

.user-item a:hover,
.user-item a:active {
  background:  #246aec;
}

.user-item__content {
  padding: 0;
}


.user-item__Update {
  background-color:  #246aec;
}

.user-item__image img {
  
  max-width: 50%;
  max-height: 50%;
  object-fit:contain;
 
}

.user-item__info h2,
.user-item__Update h2 {
  font-size: 1.5rem;
  margin: 0 0 0 0;
  font-weight: bold;
  color:  #246aec;
}


.user-item__info h4, h3{
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  font-weight: bold;
  color:  #246aec;
}

.user-item:hover h2,
.user-item:active h2,
.user-item:hover h3,
.user-item:active h3,
.user-item:hover h4,
.user-item:active h4 {
  color:rgb(245, 187, 153);
}

.user-item__info h3 {
  margin: 0;
}