.users-list-main{
  background:url("https://images.pexels.com/photos/791763/pexels-photo-791763.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;

  margin: auto;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.users-list {
  list-style: none;
  margin:0 auto;
  padding: 0;
  width: 90%;
  max-width: 50rem;
  display:flex;
  justify-content:center;
  flex-wrap: wrap;
  color: #010d35;
}

.link-to {
  margin: 5rem 0 0 0;
  display: flex;
  justify-content: center;

}

.link-to h2{
  color:rgb(26, 0, 170);

}

.link-div{
  display: flex;
 
  background-color:rgb(245, 187, 153);
  border-radius: 10%;
  border-style:groove;
}